{% comment %}
  Separate partial for Google Webfont include, so we can override with
  different fonts as applicable.
{% endcomment %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />

<link rel="stylesheet" href="file:///home/kalyna/Desktop/digikalyna/hydeout-3.7.1/assets/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css" />
